<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="kioskRFID.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
  <startup>
  </startup>
  <appSettings>
    <add key="appId" value="438288662942449"/>
    <add key="pageId" value="1380124168869100"/>
  </appSettings>
 <applicationSettings>
  <kioskRFID.My.MySettings>
   <setting name="kioskRFID_RFIDHERO2014WebServiceAPI_RFIDHERO2014WebServiceAPI"
    serializeAs="String">
    <value>http://192.168.1.102/RFIDHERO2014WebServiceAPI/RFIDHERO2014WebServiceAPI.asmx</value>
   </setting>
   <setting name="kioskRFID_FacebookWebService_WebService" serializeAs="String">
    <value>http://192.168.1.101/RFIDHERO2015WebServiceAPI/webservice.asmx</value>
   </setting>
  </kioskRFID.My.MySettings>
 </applicationSettings>
</configuration>